@{
    ViewBag.Title = "Home Page";
}

<div id="toDoList">
    <div class="col-lg-1">

    </div>

    <div class="col-lg-11">
        <div>
            <label>新增事項</label>
            <input v-model="newToDo" v-on:keyup.enter="addToDo">
        </div>

        <div v-for="item in list">
            <div v-bind:data-Id="item.id">
                <div>
                    <input type="checkbox" v-model="item.pass" />
                    {{item.Title}}
                </div>
            </div>

        </div>
    </div>



</div>
<script>
    var app = new Vue({
        el: '#toDoList',
        data: {
            newToDo: '',
            list: [
                {
                    ID: '123',
                    Title: 'AABB123124',
                    pass: false
                }
            ]

        },
        methods: {
            addToDo() {
                var title = this.newToDo.trim();
                var id = Math.floor(Math.random() * 1000);
                console.log('使用者新增：' + title + ' 編號：' + id);

                this.list.push({
                    ID: id,
                    Title: title,
                    pass: false
                });
                newToDo = '';

            }
        }

    });
    GetToDoList();
    function GetToDoList() {
        console.log('拿代辦事項');
        $.ajax({
            type: 'POST',
            url: '/Home/GetToDoList',
            data: 'token='+localStorage.token,
            dataType: "JSON",
            error: function () { '連線異常' },
            success: function (returnData) {
                console.log(returnData);
                if (returnData.Status == true) {
                    app.list=returnData.List;
                    //document.location.href = "/home";

                    console.log(returnData.List);
                }
                else {
                    alert("登入驗證錯誤!");
                    document.location.href = "/Login";
                }
            }
        });
    }



</script>