@{
    ViewBag.HomeTag = "Home";
}


<div class="col-2 text-center border-right">
    <br>
    <br>
    <br>
    <br>
    <div class="list-group list-group-flush">
        <button type="button" class="list-group-item btn-outline-secondary" :class="{' active' : ColorFilter == 'all'}" v-on:click="ColorFilter = 'all'">全部標籤</button>

        <button type="button" class="list-group-item btn-outline-primary " :class="{'active' : ColorFilter == 'primary'}" v-on:click="ColorFilter = 'primary'">藍色標籤</button>
        <button type="button" class="list-group-item btn-outline-success " :class="{'active' : ColorFilter == 'success'}" v-on:click="ColorFilter = 'success'">綠色標籤</button>
        <button type="button" class="list-group-item btn-outline-danger" :class="{'active' : ColorFilter == 'danger'}" v-on:click="ColorFilter = 'danger'">紅色標籤</button>
    </div>
</div>

<div class="col-10 pl-5">
    <div>
        <input v-model="newToDo" v-on:keypress.enter="addToDo" class="form-control" placeholder="新增事項">
    </div>
    <br>

    <div class="d-flex justify-content-between">
        <div>
            <label>進行中</label>
        </div>
        <div >
            <input type="checkbox" v-model="CardMode" class="text-right" id="CardModeCheckbox"/><label for="CardModeCheckbox">卡片模式</label>
        </div>
    </div>
    <div :class="{'card-deck':CardMode}">
        <div v-for="item in FilterColor" v-if="item.Completed==false && item.Deleted!==true" 
             :class="{'list-group-item ' :item.Color_Name == 'all'&&!CardMode,'list-group-item list-group-item-primary' :item.Color_Name == 'primary'&&!CardMode,'list-group-item list-group-item-success' :item.Color_Name == 'success'&&!CardMode,'list-group-item list-group-item-danger' :item.Color_Name == 'danger'&&!CardMode}" >
            <div v-bind:data-Id="item.ID" v-if="CardMode==false" 
                 >
                <div v-if="item.ID!==clickedID">
                    <input type="checkbox" v-model="item.Completed" :ID="item.ID" v-on:click="completed(item.ID)" />
                    <label v-on:dblclick="edit(item)">{{item.Title}}</label>
                   
                    <button type="button" class="close" aria-label="Close" v-on:click="deleted(item)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="btn-group" style="float: right;">
                        
                        <input type="button" class="btn  mt-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               style="background-image:url(/Content/color5.png);background-repeat: no-repeat;background-color: rgba(0,0,0,0); border: none; height:20px;width:20px ;background-position: center bottom;">

                        <div class="dropdown-menu" width="30%">
                            <a class="dropdown-item border  bg-light" v-on:click="changeColor(item,'all')">無</a>
                            <a class="dropdown-item border bg-primary" v-on:click="changeColor(item,'primary')">&nbsp;</a>
                            <a class="dropdown-item border bg-success" v-on:click="changeColor(item,'success')">&nbsp;</a>
                            <a class="dropdown-item border bg-danger" v-on:click="changeColor(item,'danger')">&nbsp;</a>
                            
                        </div>
                    </div>
                </div>
                <div>
                    <input class="form-control" v-model="clickedTitle" v-if="item.ID==clickedID" v-on:keypress.enter="updateTitle(item)" v-on:keyup.esc="cancelEdit">
                </div>
            </div>

            <div v-bind:data-Id="item.ID" v-if="CardMode==true" class="card " style="width: 17rem;" 
                 :class="{'list-group-item' :item.Color_Name == 'all','list-group-item list-group-item-primary' :item.Color_Name == 'primary','list-group-item list-group-item-success' :item.Color_Name == 'success','list-group-item list-group-item-danger' :item.Color_Name == 'danger'}">
                <div class="card-header" >
                    <div>
                        <input type="checkbox" v-model="item.Completed" :ID="item.ID" v-on:click="completed(item.ID)" />
                        <button type="button" class="close " aria-label="Close" v-on:click="deleted(item)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="btn-group" style="float: right;">

                            <input type="button" class="btn  mt-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   style="background-image:url(/Content/color5.png);background-repeat: no-repeat;background-color: rgba(0,0,0,0); border: none; height:20px;width:20px ;background-position: center bottom;">

                            <div class="dropdown-menu" width="30%">
                                <a class="dropdown-item border  bg-light" v-on:click="changeColor(item,'all')">無</a>
                                <a class="dropdown-item border bg-primary" v-on:click="changeColor(item,'primary')">&nbsp;</a>
                                <a class="dropdown-item border bg-success" v-on:click="changeColor(item,'success')">&nbsp;</a>
                                <a class="dropdown-item border bg-danger" v-on:click="changeColor(item,'danger')">&nbsp;</a>

                            </div>
                        </div>
                    </div>


                    <div v-if="item.ID!==clickedID" v-on:dblclick="edit(item)" class="card-text">{{item.Title}}</div>
                    <input class="form-control" v-if="item.ID==clickedID" v-model="clickedTitle" v-on:keypress.enter="updateTitle(item)" v-on:keyup.esc="cancelEdit">
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <hr>

    <label>已完成</label>
    <div v-for="item in FilterColor" v-if="item.Completed==true && item.Deleted!==true">
        <div v-bind:data-Id="item.ID">
            <div :class="{'list-group-item' :item.Color_Name == 'all','list-group-item list-group-item-primary' :item.Color_Name == 'primary','list-group-item list-group-item-success' :item.Color_Name == 'success','list-group-item list-group-item-danger' :item.Color_Name == 'danger'}" >
                <input type="checkbox" v-model="item.Completed" :ID="item.ID" v-on:click="completed(item.ID)" />
                <label :class="{'completed':item.Completed}" v-on:dblclick="edit(item)">{{item.Title}}</label>
                <textarea class="form-control" v-model="clickedDetail" v-if="item.ID==clickedID" v-on:keypress.enter="updateDetail(item)" v-on:keyup.esc="cancelEdit"></textarea>
            </div>
        </div>

    </div>
</div>
