@{
    ViewBag.Title = "Home Page";
}

<div id="toDoList">
    <div class="col-lg-1">

    </div>

    <div class="col-lg-11">
        <div>
            <label>新增事項</label>
            <input v-model="newToDo" v-on:keyup.enter="addToDo">
        </div>

        <div v-for="item in list">
            <div v-bind:data-Id="item.ID">
                <div>
                    <input type="checkbox" v-model="item.Completed" :ID="item.ID" v-on:click="update(item.ID)"/>
                    <label :for="item.ID" 
                           :class="{'completed':item.Completed}">{{item.Title}}</label>
                </div>
            </div>

        </div>
    </div>



</div>
<style>
    .completed{
        text-decoration:line-through
    }
</style>
<script>
    var app = new Vue({
        el: '#toDoList',
        data: {
            newToDo: '',
            list: [
                {
                    ID: '123',
                    Title: 'AABB123124',
                    Completed: false
                }
            ]

        },
        methods: {
            addToDo() {
                var title = this.newToDo.trim();
                var id = Math.floor(Math.random() * 1000);
                console.log('使用者新增：' + this.newToDo);
                if (!title) {
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/Home/AddToDo',
                    data: 'token=' + localStorage.token + '&Title=' + title,
                    dataType: "JSON",
                    error: function () { '連線異常' },
                    success: function (returnData) {
                        console.log(returnData);
                        if (returnData.Status == true) {
                            window.location.reload();
                            //this.list.push({
                            //    ID: returnData.ID,
                            //    Title: returnData.Title,
                            //    Completed: returnData.Completed,
                            //    Owner_ID: '12314234',
                            //    Detail: '',
                            //    Create_Date: null,
                            //    Completed_Date: null

                            //});
                            newToDo = '';
                            Console.log('新增成功');

                        }
                        else {
                            alert("新增失敗");

                        }
                    }
                });





            },


            update: function (key) {

                console.log('使用者修改編號：' + key);


                $.ajax({
                    type: 'POST',
                    url: '/Home/UpdateToDo',
                    data: 'token=' + localStorage.token + '&ID=' + key,
                    dataType: "JSON",
                    error: function () { '連線異常' },
                    success: function (returnData) {
                        console.log(returnData);
                        if (returnData.Status == true) {

                            newToDo = '';
                            Console.log('更新成功');

                        }
                        else {
                            alert("更新失敗");

                        }
                    }
                });
            }
        }
    });

    
    GetToDoList();
    function GetToDoList() {
        console.log('拿代辦事項');
        $.ajax({
            type: 'POST',
            url: '/Home/GetToDoList',
            data: 'token='+localStorage.token,
            dataType: "JSON",
            error: function () { '連線異常' },
            success: function (returnData) {
                console.log(returnData);
                if (returnData.Status == true) {
                    app.list=returnData.List;
                    //document.location.href = "/home";

                    console.log(returnData.List);
                }
                else {
                    alert("登入驗證錯誤!");
                    document.location.href = "/Login";
                }
            }
        });
    }



</script>