<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6e7e60f1-bbe5-4560-9fa8-e19499dd8bb5/resourceGroups/ToDoListUsingASP/providers/Microsoft.Web/sites/ToDoListUsingASP</ResourceId>
    <ResourceGroup>ToDoListUsingASP</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todolistusingasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>todolistusingasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToDoListUsingASP</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToDoListUsingASP</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToDoListDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:todolistusingaspdbserver.database.windows.net,1433;Initial Catalog=todolistDB;Persist Security Info=False;User ID=dannypc1628;Password=P@ssw0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:todolistusingaspdbserver.database.windows.net,1433;Initial Catalog=todolistDB;Persist Security Info=False;User ID=dannypc1628;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ToDoList.Models.ToDoListDBEntities, ToDoList" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToDoListDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ToDoListDB.csdl|res://*/Models.ToDoListDB.ssdl|res://*/Models.ToDoListDB.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:todolistusingaspdbserver.database.windows.net,1433;Initial Catalog=todolistDB;Persist Security Info=False;User ID=dannypc1628;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>