@{
    Layout = "~/Views/Shared/_ToDoListLayout.cshtml";
}
@model ToDoList.Models.obj.UsersObj

<div class="text-center">
    <div>
        <form action="~/Login/Index" method="post">
            <label for="userName">帳號</label>
            <input type="text" name="UserText" />
            <br>
            <label for="password">密碼</label>
            <input type="password" name="Password" />
            <br>
            <input type="submit" class="btn btn-primary" value="登入" />
            <br>
        </form>


        <label for="userName">@Html.DisplayNameFor(model => model.UserText)</label>
        <input type="text" id="userName" />
        <label for="password">@Html.DisplayNameFor(model => model.Password)</label>
        <input type="password" id="password" />
        <input type="submit" />
    </div>

    <br />
    @ViewBag.Text
    <br />



    <a class="btn btn-outline-primary" href="/Login/SignUp">註冊帳號</a>

    <br>
    <a class="btn btn-outline-primary" href="/Login/Show">顯示帳號</a>


</div>

