
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_ToDoListLayout.cshtml";
}
@model ToDoList.Models.Users

<h2>SignUp</h2>

<div class="text-center">
    <div>
        <form action="/Login/SignUp" method="post">
            <label for="Account">帳號</label>
            <input type="text" name="Account" />
            <br>
            <label for="Name">名稱</label>
            <input type="text" name="Name" />
            <br />
            <label for="Password">密碼</label>
            <input type="password" name="Password" />
            <br />
			<label for="Phone">電話</label>
            <input type="text" name="Phone" />
            <br />
            <label for="Email">電子信箱</label>
            <input type="email" name="Email" />
            <br />
            
			<input type="submit" class="btn btn-primary" value="註冊" />
            <br>
        </form>


    </div>
    
    <br />
    
    <br />




</div>


